/Customer.class
/Delivery.class
/Order.class
/Price.class
/PriceRecord.class
/Product.class
/Provider.class
/User.class
/OrderState.class
/PendingState.class
/PreparedState.class
/ArrivedState.class
/CancelState.class
/CurrentPrice.class
/OrderDeliver.class
/DeliverOrder.class
